[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
hypercorn = {extras = ["standard"], version = "*"}
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.10"
